# Copyright (c) 2026 William Fish (Manulytica ltd)
# SPDX-License-Identifier: Apache-2.0

menuconfig MFD_AD74X
    bool "Analog Devices AD74x MFD Support"
    default y
    depends on DT_HAS_ANALOG_AD74X_MFD_ENABLED
    select SPI
    select GPIO
    help
        Parent driver for AD74416H and AD74115H.